* {
 	font-family: arial;
	font-size: 14px;	
}

button {
	border: none;
}

body {
	/*background: #eeefe1;*/
	background: #fff;
	font-family: arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

#logo {
	width: 206px;
	height: 64px;
	background: url(../images/logoCPO_public.png) no-repeat;
	margin-left: auto;
	margin-right: auto;
}

#windowButtons {
	float: right;
}

#app {
	height: 100%;
	display: -webkit-box;
    -webkit-box-orient: vertical;
	-webkit-box-align:stretch;
}

#appContainer {
	width: 100%;
	overflow: auto;
	height: 428px;
}

.appContent {
}

.hide {
	display: none;
}

input, textarea {
	border-radius: 4px;
	padding: 6px !important;
	border: 3px solid #E3E3E3 !important;
}

select {
	border: 1px solid #E3E3E3 !important;	
	background: #fff;
	padding: 6px;
	height: 30px;
}

input:focus, textarea:focus {
	border: 3px solid #85E9FF !important;
	padding: 6px !important;
}

.selectFocus {
	border: 1px solid #85E9FF !important;
}

select:focus {
	border: 1px solid #85E9FF !important;	
	outline: none;
}

#topBar {
	background: url(../images/bottombar.png);
	height: 36px;
	width: 100%;
}

.headerBar {
	background: url(../images/bgFooterBar.png);
	height: 36px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	-webkit-box-shadow: 0px 2px 3px 3px #eee;
}

#widgetTitleBarTimer {
	padding-top: 8px;
}

#footerBar {
	background: url(../images/bgFooterBar.png);
	height: 36px;
	width: 100%;
	bottom: 0;
	position: absolute;
}

#footerBar button {
	float: left;
	width: 36px;
	height: 35px;
	border: none;
	border-right: 1px solid #ccc;
	background: transparent;
	margin-top: 1px;
}

#footerBar button span {
	width: 36px;
	height: 36px;
	display: block;
	background-position: 4px 7px;	
}

#footerBar button:hover {
	background-color: #eeeeee !important;
}

#mainMenuContainer {
	margin-left: 12px;
	padding-top: 7px;
}

button.menuItemMain {
	margin-left: -3px;
	background: url(../images/bottombar_menu.png);
	color: white;
	text-shadow: 0px 1px 1px #333;
	border-left: 1px solid #434343;
	display: block;
	float: left;
	padding: 1px 6px 0 6px;
	cursor: pointer;
	height: 22px;
	border-top: 1px solid #343434;
	border-bottom: 1px solid #343434;
}

#mainMenuContainer button.active, #mainMenuContainer button:hover {
	color: white;
	text-shadow: 0px 1px 1px #176EA5;
	background: url(../images/bottombar_active.png);
}

.roundedRight {
	border-right: 1px solid #343434;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	margin-right: 12px;
}

.roundedLeft {
	border-left: 1px solid #343434;
	border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
}

button.primary {
	float: left;
}

button.secondary {
	float: right;
}

button.appButton {
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
	cursor: pointer;
	height: 26px;
	padding: 1px 12px 0 12px;
	-webkit-border-radius: 4px;
}

button.blue {
	background: url(../images/bgButtonBlue.png);
	border: 1px solid #7d98b8;
}

button.blue:hover {
	background: url(../images/bgButtonBlueHover.png);
}

button.gray {
	background: url(../images/bgButtonGray.png);
	border: 1px solid #808080;
}

button.gray:hover {
	background: url(../images/bgButtonGrayHover.png);
}

.mT6 {
	margin-top: 6px;
}

.mB6 {
	margin-bottom: 6px;
}

.mT12 {
	margin-top: 12px;
}

.mB12 {
	margin-bottom: 12px;
}

.bigText {
	font-size: 1.2em;
	font-weight: bold;
}

.gray {
	color: #666;
}
